/* big tablet to 1200px (widths smaller than the 1140px row)*/
@media only screen and (max-width:1200px){
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }
    .row{
        padding: 0 2%;
    }
}




/* small tablet to big tablet: from 768px to 1023 */
@media only screen and (max-width:1023px){
    body{ font-size: 18px;}
    section{
        padding: 60px 0;
        margin-right: 0;
       
    }
    .long-copy{
        width: 90%;
        margin-left: 5%;
    }
    .steps-box:first-child{margin-top:40px;}
    .steps-box{margin-top: 10px;}
    .steps-box:last-child{margin-top: -10px;}
    .work-steps{margin-bottom: 10px;}
    .work-steps:last-of-type{margin-bottom: 60px;}
    .app-screen{width: 50%;}
    .icon-small{width: 12px;
    margin-right:2px;}
    .city-feature{font-size: 90%;}
    .plan-box{width: 100%;
    margin-left: 0%;}
    .price-plan{
        font-size: 100%;
        margin-bottom: 1px ;
        font-weight: 300;
    }
    .price-plan span{
        font-size: 80%;
    }
    .hero-text-box{
        font-size: 90%;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-45%,-50%);
    } 
     .section-features .box{
        font-size: 100%;
        width: 100%;
    }
}

/*----------------query----------------*/


/* small phones to small tablet: from 481px to 767 */
@media only screen and (max-width:767px){

}



/* small phones: from 0 to 40px */
@media only screen and (max-width:480px){
    
}
